body{
  background-color:#F4F5F7;
  height:100%
  }
  .navbar{
	margin-bottom:0;
	border-radius:0;
	<!--background-color:#5E4485;
	color: #FFF;-->
	color: #F4F5F7;
	padding: 1% 0;
	font-size: 1.2em;
	border:0;
  }
  .navbar-brand{
	float:left;
	<!--min-height:55px;
	padding: 0 15px 5px;-->
	height:50px
  
  }
  .carousel-inner{
  height:504px
  
  }
  
  .navbar-inverse .navbar-nav .active a,.navbar-inverse .navbar-nav .active a:focus,.navbar-inverse .navbar-nav .active a:hover{
	color: #FFF;
	<!--background-color:#5E4485;-->  
  }
  
  <!--lighten the hovering-->
  .navbar-inverse navbar-nav li a {
	color: #D5D5D5;
  
  }
  .carousel-caption {
	top:50%;
	transform: translateY(-50%);
	text-transform: uppercase;
  }
  
  @media(max-width:600px){
  
  }
  
  .logo{
	height:90px;
	width:170px;
	margin-top:-15px;
	margin-bottom:-20px;
  }
  
  .carousel-control{
	height:504px;
  }
  
  .table{
  text-align:center;
  width:100%
  
  }
  
   td{
	text-align:left;
	
	}
	
 #footer{
 background-color:#101010;
 color:white;
 }


 .player-list {
     display: none;
 }
 
 html{
    height: 100%
}

.footer {
  height: 50px;
  margin-top: -50px;
}

.player-list-item {
    /*display: flex;*/
    justify-content: center;
}

.player-list-item-body {
    padding: 0 40px;
    width: auto;
}

.media-left, .media>.pull-left {
    padding-right: 40px;
}